<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <title>Conservative Dynamics of Binary Systems to Third Post-Minkowskian Order from the Effective Field Theory Approach</title>
    
    <meta name="description" content="Presentation Slides made with impress.js" />
    <meta name="author" content="Gregor Kaelin" />

	<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({
      "HTML-CSS": {
	  scale: 90,
	  styles: {
      '.MathJax_Display': {
      "margin": "20px 0"
      }
      }
	  },
	  TeX: { extensions: ["color.js"] },
	  });
	</script>
	<script type="text/javascript" src="extras/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    <link href="css/main.css" rel="stylesheet" />
    <link rel="shortcut icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
  </head>

  <body class="impress-not-supported">

	<div class="fallback-message">
      <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
      <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
	  <p>
		$$
		\definecolor{desyOrange}{RGB}{242,142,0}
		\DeclareMathOperator{\Arcsinh}{arcsinh}
		\DeclareMathOperator{\Arctan}{arctan}
		\DeclareMathOperator{\arcosh}{arcosh}
		\newcommand\dd{{\mathrm d}}
		\newcommand{\bb}{{\mathbf b}}
		\newcommand{\bk}{{\mathbf k}}
		\newcommand{\bl}{{\mathbf l}}
		\newcommand{\bm}{{\mathbf m}}
		\newcommand{\bn}{{\mathbf n}}
		\newcommand{\bp}{{\mathbf p}}
		\newcommand{\bq}{{\mathbf q}}
		\newcommand{\br}{{\mathbf r}}
		\newcommand{\bw}{{\mathbf w}}
		\newcommand{\bx}{{\mathbf x}}
		\newcommand{\by}{{\mathbf y}}
		\newcommand{\bz}{{\mathbf z}}
		\newcommand\cO{\mathcal{O}}
		\newcommand{\cD}{\mathcal{D}}
		\newcommand\cA{\mathcal{A}}
		\newcommand\cM{\mathcal{M}}
		\newcommand\cN{\mathcal{N}}
		\newcommand\cE{\mathcal{E}}
		\newcommand\cS{\mathcal{S}}
		\newcommand\cP{\mathcal{P}}
		\newcommand\cF{\mathcal{F}}
		\newcommand\cL{\mathcal{L}}
		\newcommand\cH{\mathcal{H}}
		\newcommand\Mp{M_{\rm Pl}}
		$$
	  </p>
	</div>

	<div id="impress">

	  <div id="title" class="step" data-x="0" data-y="0">
		<h1>Conservative Dynamics of Binary Systems to Third Post-Mink<span class="orange">o</span>wskian Order from the Effective Field Theory Approach</h1>
		<p class="margin-bottom30">Work with Zhengwen Liu & Rafael Porto
		  <br/>
		  Phys. Rev. Lett. 125, 261103 (2020)
		  <br/>
		  <a href="http://arxiv.org/abs/arXiv:2007.04977">[2007.04977]</a>
		</p>
		
		<img id="scatteringFig" src="figures/scattering.svg" alt="scattering">
		<img id="orbitFig" src="figures/orbit.svg" alt="orbit">
		<br/>
		
		<p id="author">
		  Gregor Kälin
		</p>

		<br/>
		
		<div class="margin-top50 margin-bottom30">
		  <img id="ercFig" src="figures/erc.svg" alt="erc">
		  <img id="desyFig" src="figures/logo_DESY.png" alt="desy">
		  <img id="euFig" src="figures/eu.svg" alt="eu">
		</div>
		
		<div>
		  <i>
			QU Day 14.09.2021
		  </i>
		</div>
	  </div>

	  <div id="goals" class="step" data-rel-x="1700" data-rel-to="title">
		<h2>The binary problem and gravitati<span class="orange">o</span>nal waves</h2>
		<p class="center">
		  <video width="360" height="240" loop muted>
			<source src="figures/anim.mp4" type="video/mp4">
		  </video>
		  <br/>
		  <img id="waveformFig" src="figures/waveform.svg" alt="waveform">
		</p>
	  </div>

	  <div id="goals2" class="step" data-rel-x="0" data-rel-y="680">
		<h3><span class="h3span">G<span class="orange">o</span>als of our programme</span></h3>
		<ul>
		  <li><em>Computing</em> analytic expressions for the motion of a gravitationally interacting binary system up to high orders in Newton's constant: Input for the generation of waveform templates.
			<ul>
			  <li>Massive point particles (e.g. black holes)</li>
			  <li>Massive tidally deformable objects, parametrized by higher-derivative terms in an EFT (e.g. neutron stars)</li>
			  <li>Spinning versions of the former two</li>
			</ul>
		  </li>
		  <li><em>Understanding</em> the (mathematical) properties of such binary system, e.g.
			<ul>
			  <li>Analytic continuation of the scattering motion to the bound motion: Geometry!</li>
			  <li>Function space; so far: polylogarithms + (complete) elliptic integrals.</li>
			  <li>Split into regions and recombination: conservative vs. dissipative, potential vs. radiation-reaction vs. radiation, local vs. non-local.</li>
			  <li>Resummation: Post-Newtonian vs. Post-Minkowskian vs. self-force.</li>
			  <li>Double copy: \( (\mathrm{gravity}) \overset{?}{=} (\mathrm{gauge})^2 \)</li>
			</ul>
		  </li>
		</ul>
	  </div>

	  <div id="main" class="step" data-rel-x="1700" data-rel-y="0" data-rel-to="goals">
		<h2>Graphical representation of the pr<span class="orange">o</span>gramme</h2>
		<p class="center">
		  <img id="mainFig" src="figures/main.svg" alt="scattering">
		</p>
	  </div>

	  <div id="results" class="step" data-rel-x="1700" data-rel-y="0" data-rel-to="main">
		<h2>Main results <span class="orange">o</span>f the paper</h2>
		<ul>
		  <li><em>Proof of concept:</em> We computed all conservative contributions to the scattering angle/periastrion advance/eff. Hamiltonian for a point-particle binary system at NNLO in \(G\) (state-of-the-art at that time).</li>
		  <li><em>The binary problem meets Amplitudes methods:</em> We setup a systematic and efficient toolchain, combining many methods from related fields:
			<ul>
			  <li>effective field theory methods,</li>
			  <li>Feynman rules,</li>
			  <li>tensor reduction algorithms,</li>
			  <li>integration-by-parts (IBP) reduction of Feynman integrals,</li>
			  <li>the method of differential equations using canonicalization algorithms to compute these integrals,</li>
			  <li>and the method of regions.</li>
			</ul>
		  </li>
		  <li><em>One observable to rule them all:</em> The radial action contains all information to compute &#8212; via an analytic continuation &#8212; many observables in bound and unbound motion.</li>
		</ul>
	  </div>

	  <div id="results2" class="step" data-rel-x="0" data-rel-y="700">
		<h3><span class="h3span">The future is here<span class="orange">.</span></span></h3>
		Our group has built on this setups and since then already obtained a series of results:
		<ul>
		  <li>Added (conservative) tidal effects for quadrupole and octupole corrections at \( \cO(G^3) \).</br>
			<a class="refInline" href="http://arxiv.org/abs/arXiv:2008.06047">[GK, Liu, Porto 2008.06047]</a></li>
		  <li>Added spin effects at \( \cO(G^3) \).</br>
			<a class="refInline" href="https://arxiv.org/abs/2102.10059">[Liu, Porto, Yang 2102.10059]</a></li>
		  <li>Computed the potential conservative contributions at \( \cO(G^4) \).</br>
			<a class="refInline" href="https://arxiv.org/abs/2106.08276">[Dlapa, GK, Liu, Porto 2106.08276]</a></li>
		</ul>
		Other groups have used our setup or related versions thereof:
		<ul>
		  <li>Interpreting our worldline setup from a QFT-inspired perspective</br>
			<a class="refInline" href="https://arxiv.org/abs/2010.02865">[Mogull, Plefka, Steinhoff 2010.02865]</a></li>
		  <li>Gravitational Bremsstrahlung</br>
			<a class="refInline" href="https://arxiv.org/abs/2102.08339">[Mougiakakos, Riva, Vernizzi 2102.08339]</a></li>
		</ul>
	  </div>
	  
	  

	  <div id="final" class="step" data-rel-x="1700" data-rel-y"0" data-rel-to="results">
		<p class="center">
		  <img id="mainFig2" src="figures/main.svg" alt="main">
		</p>
		<p class="small">
		  This research is supported by the ERC-CoG “Precision Gravity: From the LHC to LISA” provided by the European Research Council (ERC) under the European Union’s H2020 research and innovation programme (grant No. 817791), by the DFG under Germany’s Excellence Strategy ‘Quantum Universe’ (No. 390833306).
		</p>
	  </div>
	  
  	</div>

	<div id="impress-toolbar"></div>

	<!--
	<div class="hint">
      <p>Use a spacebar or arrow keys to navigate. <br/>
		Press 'P' to launch speaker console.</p>
	</div>
	-->
	<!-- <script> -->
	<!--   if ("ontouchstart" in document.documentElement) {  -->
	<!-- 	  document.querySelector(".hint").innerHTML = "<p>Swipe left or right to navigate</p>"; -->
	<!--   } -->
	<!--   </script> -->

	<script src="js/impress.js"></script>
	<script>impress().init();</script>

	<script type="text/javascript">
	  //play and pause video when entering and leaving slide
	  const vid = document.querySelector('video');
	  const vidSlide = document.getElementById('goals');

	  //which mutations to observe
	  const config = {attributes: true};

	  function playVid() {
		  vid.play();
	  };
	  function stopVid() {
		  vid.pause();
		  vid.currentTime = 0;
	  };

	  //handle the class attribute change of the 
	  const callback = function(mutationsList, observer) {
		  for (let mutation of mutationsList) {
			  if (mutation.type == 'attributes' && mutation.attributeName == 'class') {
				  if (mutation.target.classList.contains('active')) {
					  playVid();
				  } else {
					  stopVid();
				  }
			  }
		  }
	  };

	  const observer = new MutationObserver(callback);

	  observer.observe(vidSlide, config);
	</script>

  </body>
</html>
